<!DOCTYPE html>
<html>
  <body>
	<div class="main">
        <p>Your overlap in free times</p>
        <table>
            {% for overlap in over %}
            <tr>
                <td>{{ overlap[0] }}</td>
                <td>{{ overlap[1] }}</td>
                <td>
                    <form action="/create_meeting" method="POST">
                      <input type="text" name="user" value="{{ overlap[0] }}" hidden>
                      <input type="text" name="time" value="{{ overlap[1] }}" hidden>
                      <input type=submit value="Create">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        Create Group Meeting
        <form action="/create_meeting" method="POST">
          <input type="text" name="usernames" placeholder="Commas separated usernames">
          <input type=submit>
        </form>
	</div>
  </body>
</html>