<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}

	  <div class="container">
      
      <div class="row my-5">
        
        <div class="col-3">
        <h1>Add a friend</h1>
        </div>
        
        <div class="col-5">
  		  <form action="/friends" class="form-inline" method="POST">
          
          <div class="form-group">
             <input class="form-control" type="text" name="username" placeholder="Username">
             <button class="btn btn-primary mx-2" type="submit">Add friend</button>
          </div>
  			  
        </form>
        </div>

      </div>
     
     <div class="row my-2">
       <h1>Your friend requests</h1>
      </div>
      <div class="row px-2 mb-5">
        <table class="table">
          {% for rfriend in rfriendl %}
          <tr>
              <td>{{ rfriend }}</td>
              <td>
                <form action="/friends" method="POST">
                  <input type="text" name="rusername" value="{{ rfriend }}" hidden>
                  <input type=submit value="Accept">
                </form>
              </td>
          </tr>
          {% else %}
          no friend request
          {% endfor %}

        </table>
      </div>
        
      
      
      <div class="row my-2">
        <h1>Your friends</h1>
      </div>

      <div class="row px-2 mb-5">
        <table class="table">
          {% for friend in friendl %}
          <tr>
            <td>{{ friend }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      {% if status == 0 %}
        <script type="text/javascript">alert("Invalid Username");</script>
      {% endif %}
      
	  </div>
  </body>
</html>