<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    {% include 'notifs.html' %}
	<div class="main">
        <div class="row my-2">
          <h1>Your pending meetings</h1>
        </div>
        <div class="row px-2 mb-5">
            <table class="table">
                {% for meeting in pmeetings %}
                <tr>
                    <td>{{ meeting[0] }}</td>
                    <td>
                        {% for user in meeting[1] %}
                        {{ user }}
                        {% endfor %}
                    </td>
                    <td><p>{{ meeting[2] }}</p></td>
                    <td>
                        <form action="/meetings" method="POST">
                            <input type="text" name="meetingid" value="{{ meeting[0] }}" hidden>
                            <input type=submit value="Accept">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <div class="row my-2">
          <h1>Your confirmed meetings</h1>
        </div>
        <div class="row px-2 mb-5">
            <table class="table">
                {% for meeting in cmeetings %}
                <tr>
                    <td>{{ meeting[0] }}</td>
                    <td>
                        {% for user in meeting[1] %}
                        {{ user }}
                        {% endfor %}
                    </td>
                    <td><p>{{ meeting[2] }}</p></td>
                </tr>
                {% endfor %}
            </table>
        </div>
	</div>
  </body>
</html>