<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
  <a class="navbar-brand" href="/">
    <img src="{{url_for('static', filename='clock.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="">
    CovEgg
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedule">Manage Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/meet">Meet someone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends">My friend groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      
      
    </ul>
    
    <div class="my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Login/Signup</a>
    </form>
  </div>
</nav>
