<!DOCTYPE html>
<html>
{% include 'head.html' %}

  <body>
	<div>
      {% include 'navbar.html' %}
        <div class="container">
          <div class="row my-2">
            <h1>Nothing to see here!</h1>
          </div>
          <img src="https://shellshock.io/img/eggPose01.png">
          <img src="https://vignette.wikia.nocookie.net/shellshockio/images/2/2d/AwesomeScreenshot-shellshock-io--2019-08-02_10_57.png/revision/latest/scale-to-width-down/340?cb=20190803035750">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkusEAFWT8ZRytpIXCWG30wDC5gKyleJdZLYC9xGj80sh-TO7K&usqp=CAU">
	</div>
  </body>
</html>